@import '../../styles/globalStyles.scss';

.prepend {
  z-index: 9;
  bottom: 12px;
  left: 12px;

  img {
    width: 15px;
    height: 15px;
  }
}

.input {
  position: relative;
}

.hasPrepend {
  padding-left: 40px !important;
}

.disabled {
  background: $white-background-color;
}
