.container > *{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: transparent!important;
    
}
.inputSearch{
    border-color: aliceblue;
    border-style: solid !important;
}