.container {
    display:flex;
    justify-content: flex-start;
    padding-left: 250px;
    background-color: #171822;
    button {
        margin: 0;
    }
}
.text {
    color:#ffffff;
    position: absolute;
    left: 0px;
}
