html,
body,
.container {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  height: 900px;
  width: 1600px;
  outline: 1px solid black;
  grid-template-columns: 15% 10% repeat(2, 15%) 25% 20%;
  grid-template-rows: 5% 7% repeat(2, 24%) 25% 15%;
  grid-template-areas:
    'Header Header Header Header Header Header'
    'Navbar Navbar Navbar Navbar Navbar Navbar'
    'Library SourceTree PlayGround PlayGround PlayGround ComponentCssProps'
    'Library SourceTree PlayGround PlayGround PlayGround GlobalProps'
    'Library SourceTree PlayGround PlayGround PlayGround AdsContainer'
    'Library SourceTree PlayGround PlayGround PlayGround PublishGroup';
  .header {
    grid-area: Header;
    
  }

  .navbar {
    grid-area: Navbar;
    background-color: #2E2F3A;
    padding:10px;
  }

  .componentCssProps {
    grid-area: ComponentCssProps;
    outline: 1px solid black;
  }

  .globalProps {
    grid-area: GlobalProps;
    outline: 1px solid black;
  }

  .adsContainer {
    grid-area: AdsContainer;
    outline: 1px solid black;
  }

  .publishGroup {
    grid-area: PublishGroup;
    outline: 1px solid black;
  }

  .playGround {
    grid-area: PlayGround;
  }

  .sourceTree {
    grid-area: SourceTree;
    outline: 1px solid black;
  }

  .library {
    grid-area: Library;
    outline: 1px solid black;
  }
}
