.container{
    border-style: none !important;
    display: flex;
    justify-content: flex-start !important;
}
input{
    border-style: solid !important;
    background-position: 10px 12px !important;
    background-repeat: no-repeat;
    width: 100%;
    width: 14%;
    margin: 0;
    border: radius 5px;;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-color: #ffffff !important;
}

.containerScreen{
    border-style: none !important;
    display: flex !important;
    justify-content: space-between !important;
    padding-left: 200px;
    
    button{
        background-color:transparent !important;
        width: 100px!important;
        border-color: #ffffff;
        border-radius:    6px;
        -webkit-border-radius:    6px;
        -moz-border-radius:    6px;
        -ms-border-radius:    6px;
        -o-border-radius:    6px;
        border-bottom: none;
        color: #ffffff;
        
}

}
.buttonLogout{
    width: 80px !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #f75858;
    color: #ffffff;
    margin-right: 100px;
}
.containerLogout{
    padding-left: 700px;
    display:flex !important;
    justify-content:flex-end !important;
}