.container {
    display:flex;
    justify-content: flex-start;
    padding-left: 250px;
    background-color: #171822;
    button {
        margin: 10px;
        width: 70px !important;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        background-color: #00a69b;
        color: #ffffff;
       
}
.buttonExport{
    background-color:red!important;
    position:absolute;
    right: 60px;
} 
}

.text {
    color:#ffffff;
    position: absolute;
    left: 0px;
    border-style: none !important;
    
}
